
.btn {
    background-color: black;
    color: white;
    box-shadow: 10px 5px 8px grey;
    transition: all .5s

}
.btn:hover {
    box-shadow: 2px 2px 2px black;
    color: red
}
.center{
    text-align: center
}
.accueil{
    padding: 5px;
    background-color: #b4c0ce;
    color: black;
    font-size: 20px;
}

.darkmode{
    background-color: black !important;
    color: blanchedalmond !important;
}
  

#irelandDiv{
    display: none;
}

#hipDiv {
    display: none;
}

#bandeau {
    background-color: #b4c0ce;
    color: black;
    text-align: center;
}
