
.btn {
    background-color: cadetblue;
}

#bouton{
    size: 500px;
    color: red;
}

#irelandDiv{
    display: none;
}

#hipDiv {
    display: none;
}

#bandeau {
    color: black;
    text-align: center;
}